{% extends "layout.html" %}
  
{% block y %}
{% if msg %}<h3> {{ msg }} </h3> {% endif %}
    <div>
        <h2> Welcome Admin, {{user_['user']}} </h2>
    </div>
    <form action="" method="post">
        <h2>Update User details</h2>
        <input type="email" name="new-email" id="new-email" value="Enter new email">
        <button type="submit">Change</button>
        <br><br>
        <input type="text" name="old-password" id="old-password" value="Enter old password">
        <br>
        <input type="text" name="new-password" id="new-password" value="Enter new password">
        <button type="submit">Change</button>
        <br>
    </form>
    <div id="div-blogs">
        <div>
            <h2>Blog 1 Name</h2>
            <button id="delete-blog-1">Delete Blog</button>
        </div>
        
        <div>
            <h2>Blog 2 Name</h2>
            <button id="delete-blog-1">Delete Blog</button>
        </div>
        
    </div>
{% endblock %}
