<!DOCTYPE html>
  
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title> flask </title>
    </head>
    <body>
        <div id="navbar">
            <button id="nav-button-home"><a href='/'>Home</a></button>
            {% if user_%}
                <button id="nav-button-dashboard"><a href='/login'> dashboard</a></button>
                <button id="nav-button-logout"><a href='/logout'> Logout</a></button>
            {% else %}
                <button id="nav-button-login"><a href='/login'> Login</a></button>
            {% endif %}
        </div>
        {% block y %}{% endblock %}
    </body>
</html>