{% extends "layout.html" %}
  
{% block y %}
    {% if msg %}<h3> {{ msg }} </h3> {% endif %}
    <h1>Login for registered users</h1>
    <form action="/user/login" method="post">
        <label>UserName: </label><input type="text" name="user" id="login-user">
        <label>Password: </label><input type="password" name="pword" id="login-pword">
        <button type="submit" id="login-button">Login</button>
    </form>

    <h1>Signup for new users</h1>
    <form action="/user/signup" method="post">
        <label>Name: </label><input type="text" name="name" id="signup-name"><br>
        <label>Email: </label><input type="text" name="email" id="signup-email"><br>
        <label>UserName: </label><input type="text" name="user" id="signup-user"><br>
        <label>Password: </label><input type="password" name="pword" id="signup-pword"><br>
        <button type="submit" id="signup-button">Signup</button>
    </form>

{% endblock %}
