{% extends "layout.html" %}
  
{% block y %}
{% if msg %}<h3> {{ msg }} </h3> {% endif %}
<div>
    <h1> Reset Your password </h1>
    <form action='/user/reset-password' method='POST'>
        <input type="hidden" name="user_id" value="{{user_id}}"/>
        <label>Blog Title: </label><input type="text" name="blog_title"></br>
        <label>Blog Content: </label><textarea type="text" name="blog_content"></textarea></br>

        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}