{% extends "layout.html" %}
  
{% block y %}
    <!-- Image -->
    <form action="/user/update-image" method="post" enctype="multipart/form-data">
        <!-- <img src="{{ 'static/images/' + user.user}}" alt="No Image" width="20%"/> -->
        <img alt="No Image" id="profile-picture" width="20%">
        <input type="file" name={{ user.user }} id={{ user.user }}>
        <button type="submit"> Change Image </button>
    </form>

    <form action="/user/update" method="post">
        <label>Name: </label><input type="text" name="name" id="update-name" value={{ user.name }}><br>
        <label>Email: </label><input type="text" name="email" id="update-email" value={{ user.email }}><br>
        <label>UserName: </label><input type="text" name="user" id="update-uname" value={{ user.user }}><br>
        <button type="submit" id="signup-button">Update Profile</button>
    </form>

    <script>
        async function get_profile_picture(user){
            data = {"picture_name": user}
            console.log(data)
            url = "http://127.0.0.1:5000/profile_picture"
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            img_arr = await response.arrayBuffer()
            const base64Flag = 'data:image;base64,';
            const imageStr = await btoa(String.fromCharCode(...new Uint8Array(img_arr)));
            document.getElementById('profile-picture').src = base64Flag + imageStr
            console.log(img_arr)
        }

        // get_profile_picture("{{ user.user }}")
    </script>

{% endblock %}
