{% extends "layout.html" %}
  
{% block y %}
{% if msg %}<h3> {{ msg }} </h3> {% endif %}
<div>
    <h2> Welcome User, {{user_['user']}} </h2>
</div>
<div>
    <h1> Add New Blog </h1>
    <form action='/blog/add' method='POST'>
        <label>Blog Title: </label><input type="text" name="blog_title"></br>
        <label>Blog Content: </label><textarea type="text" name="blog_content"></textarea></br>

        <button type="submit">Submit</button>
    </form>
</div>

<div>
    {% if blogs %}<h1> All Blogs: </h1> {% endif %}
    {% for blog in blogs %}
        <div>
            <fieldset>
                <legend><h2>{{ blog["blog_title"] }}</h2></legend>
                <div id="blog-{{ blog['blog_id'] }}">{{ blog["blog_content"] | safe}}</textarea>
                <!--<button id="save-changes-blog-{{ blog['blog_id'] }}">Save</button>-->
            </fieldset>
        </div>
    {% endfor %}
    
</div>
{% endblock %}
